[submodule "elisp/zotelo"]
	path = elisp/zotelo
	url = git@github.com:vitoshka/zotelo.git
[submodule "org-mode"]
	path = elisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "elisp/org-reveal"]
	path = elisp/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "autocomplete"]
	path = elisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "elisp/cpputils-cmake"]
	path = elisp/cpputils-cmake
	url = https://github.com/redguardtoo/cpputils-cmake.git
[submodule "elisp/irony-mode"]
	path = elisp/irony-mode
	url = https://github.com/Sarcasm/irony-mode.git
[submodule "elisp/auto-complete-c-headers"]
	path = elisp/auto-complete-c-headers
	url = https://github.com/mooz/auto-complete-c-headers.git
[submodule "elisp/flycheck"]
	path = elisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "elisp/ergoemacs-mode"]
	path = elisp/ergoemacs-mode
	url = https://github.com/ergoemacs/ergoemacs-mode.git
[submodule "elisp/iedit"]
	path = elisp/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "elisp/dash.el"]
	path = elisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "elisp/company-irony"]
	path = elisp/company-irony
	url = https://github.com/Sarcasm/company-irony.git
[submodule "elisp/ac-irony"]
	path = elisp/ac-irony
	url = https://github.com/Sarcasm/ac-irony.git
[submodule "elisp/company-mode"]
	path = elisp/company-mode
	url = https://github.com/company-mode/company-mode.git
