[submodule "elisp/zotelo"]
	path = elisp/zotelo
	url = git@github.com:vitoshka/zotelo.git
[submodule "org-mode"]
	path = elisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "elisp/org-reveal"]
	path = elisp/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "yasnippet"]
	path = yasnippet
	url = git@github.com:capitaomorte/yasnippet.git
[submodule "autocomplete"]
	path = autocomplete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "elisp/cpputils-cmake"]
	path = elisp/cpputils-cmake
	url = git@github.com:redguardtoo/cpputils-cmake.git
[submodule "elisp/irony-mode"]
	path = elisp/irony-mode
	url = git@github.com:Sarcasm/irony-mode.git
